<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ClearFarm</title>
    <!--    <style>-->
    <!--        .todo {-->
    <!--            padding: 20px;-->
    <!--            margin: 10px;-->
    <!--            background-color: #eee;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
    <h1>ClearFarm</h1>
    <hr>
    <div class="postClass">
        <form method="post" enctype="multipart/form-data">

            <p>
                <b> Insert CSV file (PIGS) </b>
            </p>
            <p>
                <input type="file" name="csvfile" accept=".csv" required>
                <!--onchange="handleFiles(this.files)">--->
            </p>
            <p>
                <input type="radio" id="trial1_activity" name="collections" value="trial1_activity" checked> <label>
                    Trial 1 - Activity </label>
            </p>
            <p>
                <input type="radio" id="trial1_behaviour" name="collections" value="trial1_behaviour"> <label> Trial 1 - Behaviour </input>
            </p>
            <p>
                <input type="radio" id="trial1_co2" name="collections" value="trial1_co2"> <label> Trial 1 - CO2 </input>
            </p>
            <p>
                <input type="radio" id="trial1_humidity" name="collections" value="trial1_humidity"> <label> Trial 1 - Humidity </input>
            </p>
            <p>
                <input type="radio" id="trial1_nh3" name="collections" value="trial1_nh3"> <label> Trial 1 - NH3 </input>
            </p>
            <p>
                <input type="radio" id="trial1_temperature" name="collections" value="trial1_temperature"> <label> Trial 1 - Temperature </input>
            </p>
            <p>
                <input type="radio" id="trial2_activity" name="collections" value="trial2_activity" checked> <label>
                    Trial 2 - Activity </label>
            </p>
            <p>
                <input type="radio" id="trial2_behaviour" name="collections" value="trial2_behaviour"> <label> Trial 2 - Behaviour </input>
            </p>
            <p>
                <input type="radio" id="trial2_co2" name="collections" value="trial2_co2"> <label> Trial 2 - CO2 </input>
            </p>
            <p>
                <input type="radio" id="trial2_humidity" name="collections" value="trial2_humidity"> <label> Trial 2 - Humidity </input>
            </p>
            <p>
                <input type="radio" id="trial2_nh3" name="collections" value="trial2_nh3"> <label> Trial 2 - NH3 </input>
            </p>
            <p>
                <input type="radio" id="trial2_temperature" name="collections" value="trial2_temperature"> <label> Trial 2 - Temperature </input>
            </p>
            <p>
                <input type="radio" id="reference" name="collections" value="reference"> <label> REFERENCE ¿¿??</input>
            </p>
            <p>
                <b> Select Animal </b>
            </p>
            <p>
                <input type="radio" name="animals" value="cows" checked> <label> cows </input>
            </p>
            <p>
                <input type="radio" name="animals" value="pigs"> <label> pigs </input>
            </p>
            <p>
                <b> Select Key (only if the first time to insert this enterprise) </b>
            </p>
            <p>
                <input type="radio" name="keys" value="cowId" checked> <label> cowId </input>
            </p>
            <p>
                <input type="radio" name="keys" value="cowTag"> <label> cowTag </input>
            </p>
            <p>
                <input type="radio" name="keys" value="official_cowId"> <label> official_cowID </input>
            </p>
            <button type="submit">POST</button>
        </form>
    </div>
</body>

</html>
